<div ng-app="App" ng-controller="SearchCtrl">
  <div class="search">
    <h1>Math Knowledge Base</h1>
    <form ng-submit="search()">
      <div class="searchBox">
        <input type="text" ng-model="searchTerm" />
        <span ng-show="searched" ng-click="cancel()">&#x274c;</span>
        <span ng-show="!searched" ng-click="search()">&#x1F50D;</span>
      </div>
    </form>
  </div>
  <div>
    <ul>
      <li ng-repeat="result in results" class="card">
        <a href="{{ result.page }}" target="_blank">
          <h2>{{ result.title }}</h2>
          <div>{{ result.body }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
<a class="random" href="http://en.wikipedia.org/wiki/Special:Random" target="_blank">Random Page</a>
<div class="bg"></div>