<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Knowledge Base</title>

  <!-- Include AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Include your AngularJS controller script -->
  <script src="./script.js"></script>

  <!-- Include your styles (assuming you have a CSS file) -->
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<div ng-app="App" ng-controller="SearchCtrl">
  <div class="search">
    <h1>Math Knowledge Base</h1>
    <form ng-submit="search()">
      <div class="searchBox">
        <input type="text" ng-model="searchTerm" />
        <span ng-show="searched" ng-click="cancel()">&#x274c;</span>
        <span ng-show="!searched" ng-click="search()">&#x1F50D;</span>
      </div>
    </form>
  </div>
  <div>
    <ul>
      <li ng-repeat="result in results" class="card">
        <a href="{{ result.page }}" target="_blank">
          <h2>{{ result.title }}</h2>
          <div>{{ result.body }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
<a class="random" href="http://en.wikipedia.org/wiki/Special:Random" target="_blank">Random Page</a>
<div class="bg"></div>

</body>
</html>
